@media screen and (max-width: 576px) {
    nav{
        display: none;
    }
    img{
        width: 100%;
    }
    /* main{
        max-width: 100%;
    } */
    .header-main{
        width: 100%;
        height: 550px;
        background-image: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url(./Images/heading\ img.png);
        margin: 20px auto;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text{
        width: 100%;
        margin: 0 auto;
        text-align: center; 
    }
    .header-text h1 {
        padding-top: 32px;
        font-size: 22px;
    }
    .header-text p{
        font-size: 14px;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .scerch-form {
        width: 89%;
        flex-direction: column;
        height: auto;
        margin-top: 91px;
    }
    input{
        width: 255px;
        height: 52px;
        border-radius: 8px;
        border: none;
    }
    .item{
        width: 255px;
        height: 52px;
        border-radius: 8px;
        margin: 10px 0;
    }
    .scerch-form button{
        width: 255px;
        height: 52px;
        border-radius: 8px;
        background-color: var(--main-color);
        color: white;
    }


/* Our Popular Tours */

    .tour-main{
        margin: 40px 25px;
        flex-direction: column;
    }
    .tour-text p{
        width: 100%;
        margin: 30px 0;
    }
    .tour-text li{
        width: 100%;
        margin: 30px 0;
    }
    .tour-text button{
        margin-bottom: 3%;
    }
    .tour-main img{
        width: 100%;
    }


    /* Choose Your Destination */
    .destination img{
        width: 335px;
        height: 176px;
    }
    .destination{
        margin: 0 auto;
        padding: 0 10px;
    }
    .destination h1{
        font-size: 20px;
    }
    .destination p{
        width: 80%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .first-destination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second-destination{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .one h1{
        top: 43%;
        left: 40%;
    }
    .five h1 {
        top: 44%;
        left: 37%;
    }
    .third-destination{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    
    }
    .six h1 {
        position: absolute;
        top: 40%;
        left: 24%;
        color: white;
    }
    .seven h1 {
        position: absolute;
        top: 40%;
        left: 32%;
        color: white;
    }


    /* Why Choose Us */


    .choose-main {
        margin: 1px 30px;
    }
    .choose-head h1 {
        font-size: 30px;
        font-weight: 800;
        line-height: 50px;
        margin: 20px 0;
    }
    .choose-head p{
        width: 80%;
    }
    .choose-services{
        display: grid;
        grid-template-columns: 1fr;
    }
    .service-one {
        width: 100%;
        height: auto;
        padding: 32px 28px 32px 32px;
        background: rgba(251, 181, 99, 0.05);
        margin: 6px;
        border-radius: 16px;
    }
    .second-servie{
        background-color: rgba(41, 206, 246, 0.05);
    }


    
/* Deals & Discounts */

    .deal-main{
        margin: 60px 10px;
    }
    .deal-1{
        height: 500px;
        width: 100%;
    }
    .deal1-box,.deal2-box {
        width: 90%;
        margin: 85px 20px 20px;
    }
    .deal1-box, .deal2-box {
        padding: 44px 12px 23px 38px;
            /* margin: 56px 56px 56px 689px; */
            top: 0%;
            left: 0%;
        
    }
    iframe{
        width: 100%;
        height: 350px;
    }

        /* Newsletter */
    .newsletter{
        margin: 20px 15px;
        flex-direction: column;
    }
    .newsletter-text {
        margin: 20px 10px;
        max-width: 100%;
    }
    .travel-main img {
        width: 100vw;
        height: 342px;
    }
    .travel-card {
        width: 214.02px;
        height: 79.27px;
        padding: 6px 14px;
        left: 51%;
        top: 65%;
    }
    .travel-card h3{
        font-size: 15.85px;
    }
    .travel-card h1 {
        font-size: 21.14px;
    }
    .input {
        width: 100%;
    }
    .newsletter-text button {
        width: 100%;
    }

}




